/*  */
.slider-container {
    width: 100%;
  }
  
  .slider-image {
    width: 70%;
    margin: 0 0px; /* Adjust this value to reduce the spacing */
  }
  
  .slick-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @media (max-width: 768px) {
    .slider-image {
      margin: 0 5px; /* Adjust this value for smaller screens */
    }
  }
  


  @media (max-width: 430px) and (max-height: 932px) {
    .empower2 h1 {
      font-size: 32px !important;
      margin-top: 130px !important;
    }
  }


  @media (max-width: 430px) and (max-height: 932px) {
    .slider-container {
      width: 250%;
    }
  }


  .fade-in-text1 {
    position: absolute;
    bottom: 0px;
    text-align: center;
    width: 100%;
    animation: AnimationfadeIn 3s;
    -webkit-animation: AnimationfadeIn 3s;
    -moz-animation: AnimationfadeIn 3s;
    -o-animation: AnimationfadeIn 3s;
    -ms-animation: AnimationfadeIn 3s;
  }
  
  @keyframes AnimationfadeIn {
    0% {
      opacity: 0;
      bottom:  -60px;
    }
    100% {
      opacity: 1;
      bottom: 0px;
    }
  }


  @keyframes zoomIn {
    from {
      opacity: 0;
      transform: scale(0.3);
    }
    50% {
      opacity: 1;
    }
  }
  
  .zoomIn {
    animation-name: zoomIn;
    animation-duration: 1s;
    animation-fill-mode: both;
  }
  
  .slider-container .slider-image {
    width: 100%;
    transition: transform 0.3s ease;
  }
  
  .slider-container .slider-image:hover {
    transform: scale(1.1);
  }
  
  .slider-container .slick-slide {
    padding: 0 10px; /* Adjust spacing between images */
  }