.jumbotron1 {
  height: 300px;
  position: relative; 
   margin-top: 150px;
  
}

.fade-in-text {
  position: absolute;
  bottom: 0px;
  text-align: center;
  width: 100%;
  animation: AnimationfadeIn 3s;
  -webkit-animation: AnimationfadeIn 3s;
  -moz-animation: AnimationfadeIn 3s;
  -o-animation: AnimationfadeIn 3s;
  -ms-animation: AnimationfadeIn 3s;
}

@keyframes AnimationfadeIn {
  0% {
    opacity: 0;
    bottom: -50px;
  }
  100% {
    opacity: 1;
    bottom: 0px;
  }
}

@media only screen and (max-width: 991px) {
  .jumbotron1  {
 
   margin-top: -25px;
  }
}


@media only screen and (max-width: 991px) {
  .jumbotron1 > h1 {
    font-size: 50px !important;
    line-height: 64px;
   
  }
}

@media only screen and (max-width: 766px) {
  .jumbotron1 > h1 {
    font-size:35px !important;
    line-height: 43px;
    font-weight: 700 !important;
  }
}


