.jumbotron1 {
  height: 300px;
  position: relative;
  margin-top: 170px;
}

.fade-in-text {
  position: absolute;
  bottom: 0px;
  text-align: center;
  width: 100%;
  animation: AnimationfadeIn 3s;
  -webkit-animation: AnimationfadeIn 3s;
  -moz-animation: AnimationfadeIn 3s;
  -o-animation: AnimationfadeIn 3s;
  -ms-animation: AnimationfadeIn 3s;
}

@keyframes AnimationfadeIn {
  0% {
    opacity: 0;
    bottom: -50px;
  }
  100% {
    opacity: 1;
    bottom: 0px;
  }
}

/* @media (min-width: 320px) and (max-width: 767px) {
  .jumbotron1 {
    height: 150px;
  }
  .jumbotron1 > .animationText {
    font-size: 34px;
    width: 98%;
    margin: 0 auto 3rem;
    text-align: center;
    line-height: 34px;
    font-weight: 700;
  }
}

@media only screen and (max-width: 435px) {
  .jumbotron1 {
    height: 250px;
  }
} */



@media only screen and (max-width: 991px) {
  .jumbotron1 > h1 {
    font-size: 64px !important;
    line-height: 64px;
  }
}

@media only screen and (max-width: 766px) {
  .jumbotron1 > h1 {
    font-size: 43px !important;
    line-height: 43px;
    font-weight: 700 !important;
  }
}


