.h {
  opacity: 1;
}


.foot1 ul{
 list-style: none;
}

.foot1 li{
  text-align: start;
  
}

.foot2 ul{
  list-style: none;
 }
 
 .foot2 li{
   text-align: start;
 }


.footer {
  position: sticky;
  width: 100%;
  display: block;
  background-color: #000000;
  padding: 60px 0 30px;
  overflow: hidden;
  margin-top: -1px;
}


@media (max-width: 412px) {
  .foot-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-left: 150px;
    text-align: center;
  }

  .foot1, .foot2 {
    width: 50%;
  }

  .foot h4 {
    margin-bottom: 10px;
  }

  .pay {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .pay img {
    margin: 10px 0;
  }

  .pay p {
    margin: 10px 0;
  }
}