.h {
  opacity: 1;
}

.foot1 {
  color: gray;
}

.foot2 {
  color: gray;
}

.foot1 p {
  color: white;
  font-weight: bold;
}

.foot2 p {
  color: white;
  font-weight: bold;
}


.footer {
  position: relative;
  width: 100%;
  display: block;
  background-color: #000000;
  padding: 60px 0 30px;
  overflow: hidden;
  margin-top: -1px;
}


@media (max-width: 412px) {
  .foot-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-left: 150px;
    text-align: center;
  }

  .foot1, .foot2 {
    width: 50%;
  }

  .foot h4 {
    margin-bottom: 10px;
  }

  .pay {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .pay img {
    margin: 10px 0;
  }

  .pay p {
    margin: 10px 0;
  }
}