.h {
  opacity: 1;
}

.foot1 {
  color: gray;
}

.foot2 {
  color: gray;
}

.foot1 p {
  color: white;
  font-weight: bold;
}

.foot2 p {
  color: white;
  font-weight: bold;
}


.footer {
  position: relative;
  width: 100%;
  display: block;
  background-color: #000000;
  padding: 60px 0 30px;
  overflow: hidden;
  margin-top: -1px;
}