.home {
  background-color: rgb(60, 39, 95);
  height: 100%;
}

.power {
  font-size: 80px;
}

.bill button {
  height: 10vh;
  width: 30vh;
}

.container {
  max-width: 100%;
}

.jumbotron1 h1 {
  font-size: 60px;

  z-index: 1;
}

.know {
  text-decoration: none;
}

.col-sm-4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.food,
.tools,
.Know {
  text-align: left;
}

.beverage2 {
  color: darkgrey;
}

.scan img {
  border-radius: 30px;
}

.beverage2:hover {
  color: white;
}

.beverage2 button a {
  text-decoration: none;
  color: white;
}

.beverage2 button {
  border: 2px solid black;
  border-radius: 8px;
  height: 5vh;
  background-color: gray;
}

.beverage2 button:hover {
  background-color: #006aff;
}

.maze img {
  border-radius: 20px;
}

.lacs {
  font-size: 100px;
  color: #8a0834;
}

.part {
  font-size: 50px;
}

.access {
  opacity: 1;
}



.carouse {
  background-color: rgb(248, 248, 248);
  width: 1000px;
  height: 400px;
  border-radius: 50px;
}

.empower {
  font-size: 50px;
}

.build{
  font-size: 50px;
}

.tools{
  font-size: 30px;
  text-align: center;
}

.formclass input{
  border: none;
  
}

.formclass button{
  border: none;
}


.item1{
  background-color: antiquewhite;
  border-radius: 20px;
  align-items: center;
  height: 300px;
  width: 100%;
}