.home-container {
  height: 100%;
}
.purpleContainer {
  background-color: rgb(25, 27, 65); /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom left,rgb(20, 20, 31), #241738,rgb(25, 27, 65),rgb(19, 19, 31));
  /* background-image: linear-gradient(to bottom right,rgb(20, 20, 31), #3c2561,rgb(25, 27, 65),rgb(19, 19, 31)); */
  
}










.know {
  text-decoration: none;
}

.col-sm-4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.food,
.tools,
.Know {
  text-align: left;
}

.beverage2 {
  color: darkgrey;
}

.scan img {
  border-radius: 30px;
}




.lacs {
  font-size:250px;
  background: -webkit-linear-gradient(#f02525, #352261,#2b1a41);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



@media (max-width: 768px) {
  .lacs {
    font-size: 4rem; /* Adjust the size as needed */
  }
  .part > p {
    font-size: 10px;
    /* Adjust the size as needed */
  }
}

.part {
  font-size: 70px;
}

.access {
  opacity: 1;
}

img {
  max-width: 100%;
}

.carouse {
  background-color: rgb(248, 248, 248);
  width: 1000px;
  height: 400px;
  border-radius: 50px;
}

.empower {
  font-size: 50px;
}

.build {
  font-size: 50px;
}

.tools {
  font-size: 30px;
  text-align: center;
}

.formclass input {
  border: none;
}

.formclass button {
  border: none;
}

.moment {
  font-size: 60px;
}
.item1 {
  background-color: antiquewhite;
  border-radius: 20px;
  align-items: center;
  height: 300px;
  width: 100%;
}

.slide-text h2 {
  font-size: 40px;
  font-weight: bold;
}

.slide-text h3 {
  font-size: 20px;
  font-weight: bold;
}
.slide-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

.slide-text {
  flex: 1;
  padding: 20px;
  color: #fff; /* Change text color if necessary */
}

.slide-image {
  flex: 1;
  padding: 20px;
}

.slide-image img {
  max-width: 100%;
  height: auto;
}

.item {
  max-width: 159.667px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  cursor: pointer;
}

.text {
  flex: 1;
  padding: 10px;
  cursor: pointer;
}

.image {
  flex: 1;
  padding: 10px;
}

.image img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.col-12 {
  font-size: 20px;
}

.payment {
  font-size: 20px;
}
