.know-btn{
    background-color: #262626;
    color: #ffffff;
    font-size: 14px;
    border: none;
    border-radius: 10px;
}


.know-btn:hover{
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}


.animated-text1 {
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
  }
  
  .animated-text1.visible {
    opacity: 1;
    transform: translateY(0);
  }
  

  .card-title {
    font-size: 28px;
  }
  
  .card-text {
    font-size: 16px;
  }
  



  .card-text {
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 0.1s ease-out,  0.1s ease-out;
  }
  
   .animate-text2 {
    opacity: 1;
    transform: translateY(0);
  } 
 


@media (min-width: 419px) and (max-width: 915px) {
.card{
  margin:50px;
}
  .card-title {
    font-size: 18px; 
    margin-left: 20px;
  }

  .card-text>p{
    font-size: 10px; 
    
  }

  .know {
    font-size: 10px; 
    margin-top: -10px;
    text-decoration: none;
    margin-left: -30px;
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-left-1 {
  opacity: 0;
  animation: slideInLeft 1s forwards;
}