.sell{
    font-size: 80px;
}


.tool {
    font-size: 19px;
}

.tool1 {
    font-size: 19px;
}

.tool2 {
    font-size: 19px;
}


.text-section:hover{
 color: white;   
}

.mm1{
    border: none;
    background-color: aqua;
    
}


.mm2{
    border: none;
    background-color: aqua;
    
}

.mm3{
    border: none;
    background-color: aqua;
    
}